@charset "utf-8";
.common-tit-2 { overflow: hidden; line-height: 18px; margin: 20px 0 16px; padding: 0 10px 0 0;}
.common-tit-2 em{float: left; width: 4px; height: 18px; margin: 0 6px 0 0; background: #ec2a42;display: inline-block;}
.common-tit-2 h2{ float: left; font-size: 16px; font-weight: bold; color: #222;}
.common-tit-2 .more{float: right; display: inline;color: #7e7e7e; }
.common-tit-2 .icon-hot{float: left; width: 29px; height: 12px; margin: 2px 0 0 2px; background-position: -113px -116px;}
.common-tit-3 { overflow: hidden; line-height: 18px; padding: 22px 10px 20px 0;}
.common-tit-3 em{float: left; width: 4px; height: 18px; margin: 0 6px 0 0; background: #ec2a42;display: inline-block;}
.common-tit-3 h2{ float: left; font-size: 18px; font-weight: bold; color: #222;}


.m-list li{font-size: 12px;}
.m-list li a{font-size: 14px; box-sizing: border-box; color: #2b2b2b;}

/*头部*/
.nav_3 li a{ padding: 0 40px 0 0; font-weight: bold;}

/*news_section1 start*/
.news_section1{overflow: hidden;}
/*ad-hdxw*/
.ad-hdxw{float: left; position: relative; width: 392px; height: 264px; margin: 0 0 14px 0; overflow: hidden;}
.ad-hdxw .hdxw-img .images-inner{position: absolute;left: 0;top: 0;}
.ad-hdxw .hdxw-img .images-inner .link{position: relative; float: left; width: 392px; height: 264px; display: block;}
.ad-hdxw .hdxw-img .images-inner .link p{position: absolute; bottom: 0; height: 52px; background: url(../images/ad-dots-bg.png) repeat-x bottom left; padding: 28px 0 0; line-height: 34px; width: 100%; color: #fff; font-weight: bold; text-align: center; white-space: nowrap; text-overflow: ellipsis; overflow: hidden;}
.ad-hdxw .hdxw-img .images-inner img{width: 392px; height: 264px;}
.ad-hdxw .hdxw-dots{position: absolute;bottom: 10px; height: 8px;  left: 0;right: 0;}
.ad-hdxw .hdxw-dots .dots-inner{width:100%; box-sizing: border-box; text-align: center;overflow:hidden;}
.ad-hdxw .hdxw-dots .dots-inner .dot-icon{display:inline-block; width: 8px;height: 8px;margin: 0 2px;cursor: pointer;background: rgba(255,255,255,0.5); border-radius: 50%; display: inline-blockdisplay: inherit}
.ad-hdxw .hdxw-dots .dots-inner .dot-active{background:#ec2b42; width: 24px; border-radius: 8px;}

.news_section1 .common-tit-2{margin: 16px 0; padding: 0 ; }
.chuangye-item {float: left; margin: 0 0 14px 14px; padding: 0 10px; box-sizing: border-box; background: #fff; border-top: 4px solid #ff8a00; overflow: hidden;}
.chuangye-zx{float: left; width: 886px;}

/*chuangye-gs*/
.chuangye-gs{width: 480px; height: 264px; border-color: #ff8a00; padding: 0;}
.chuangye-gs .common-tit-2{padding: 0 10px;}
.chuangye-gs .m-1{ overflow: hidden;}
.chuangye-gs .m-1-a{height: 70px; padding: 0 10px;}
.chuangye-gs .m-1-a:nth-child(2n){background: #f9f9f9;}
.chuangye-gs .m-1-a dt{width: 100%; font-size: 16px; line-height: 26px; padding: 12px 0 2px; font-weight: bold; text-align: center; white-space: nowrap;text-overflow: ellipsis;overflow: hidden;}
.chuangye-gs .m-1-a dd{float: left; width: 50%; line-height: 24px; padding: 0 10px 0 0; box-sizing: border-box; white-space: nowrap;text-overflow: ellipsis;overflow: hidden;}
.chuangye-gs .m-1-a dd a{ font-size: 12px; color: #888; padding:0 0 0 10px; background: url(../images/icon-dian.png) no-repeat center left; }
.chuangye-gs .m-1-a dd a:hover{color:#ec2b42;}



/*chuangye-zd*/
.chuangye-zd{width: 392px; height: 300px; margin: 0; border-color: #ebbb29;}
.chuangye-zd .m-1{display: block; overflow: hidden;}
.chuangye-zd .m-1 .picfocus{float:left; width: 150px; height: 100px;}
.chuangye-zd .m-1-a{float:left; width:208px; height:100px; line-height: 18px; margin: 0 0 0 14px; display: inline; overflow: hidden;}
.chuangye-zd .m-1-a dt a{ color: #2b2b2b;}
.chuangye-zd .m-1-a dd{margin:12px 0 0; font-size: 12px; color: #8c8c8c; max-height: 54px; overflow: hidden;} 
.chuangye-zd .m-list li a{width: 300px;}

/*chuangye-zs*/
.chuangye-zs{width: 480px; height: 300px; border-color: #ff4800;}
.chuangye-zs .m-list{margin: 0;}
.chuangye-zs .m-list li a{width: 380px;}

/*chuangye-zn*/
.chuangye-zn{float: left; width: 300px; height: 578px; border-color: #ff5e71;}
.chuangye-zn .m-list{margin: 0;}
.chuangye-zn li{float: left; width:100%; text-align: left; margin: 0 0 8px 0;  line-height: 32px; white-space: nowrap; text-overflow: ellipsis; overflow: hidden;}
.chuangye-zn li a{float:none; width: auto; background: none; padding: 0;}
.chuangye-zn li .a1{color:#ff7888;margin-right: 5px;}
.chuangye-zn li .a2{color:#858585;}
.chuangye-zn li .a1:hover,
.chuangye-zn li .a2:hover{color: #ec2b42;}

/*news_section1 end*/


/*pinpai*/
.pinpai{ margin: 6px 0 20px; overflow: hidden;}
.pinpai ul{margin: 0 -3px 0 -4px;}
.pinpai li { float: left; width: 16.66%; }
.pinpai li .item{margin: 0 3px 0 4px; display: block; background: #fff; -webkit-transition: 0.5s ease all; transition: 0.5s ease all;}
.pinpai li .tit{padding: 10px; line-height: 20px; color: #272727;}
.pinpai li .tit em{float: right; color: #ec2b42; font-size: 12px;}
.pinpai li .tit:hover{ color: #ec2b42;}

/*news_section2 start*/
.news_stction2{overflow: hidden;}

/*zixun_nav*/
.zixun_nav{float:left; width: 392px; height: 620px; background: #fff; overflow: hidden;}
.zixun_nav .cont{display: block; overflow: hidden;}
.zixun_nav ul{margin: 20px 16px 0; overflow: hidden;}
.zixun_nav li{float: left; margin: 0 5px 10px;}
.zixun_nav li a{width: 78px; height: 28px; line-height: 28px; border: 1px solid #eee; color: #979797; border-radius: 28px; text-align: center; display: block; overflow: hidden;}
.zixun_nav li a:hover{border-color: #ec2b42; color: #ec2b42;}

/*zixun*/
.zixun{float:left; width: 480px; height: 620px; margin: 0 0 0 14px; overflow: hidden;}

.zixun_tj{width: 100%; height: 386px; margin: 0 0 14px 0; background: #fff; overflow: hidden;}
.zixun_tj .cont{padding: 10px; }
.zixun_tj .m-1{margin: 0 0 14px 0; display: block; overflow: hidden;}
.zixun_tj .m-1 .picfocus{float:left; width: 150px; height: 100px;}
.zixun_tj .m-1-a{float:left; width:296px; height:100px; line-height: 18px; margin: 0 0 0 14px; display: inline; overflow: hidden;}
.zixun_tj .m-1-a dt a{ color: #2b2b2b;}
.zixun_tj .m-1-a dd{margin:12px 0 0;  font-size: 12px; color: #8c8c8c; max-height: 54px; overflow: hidden;} 
.zixun_tj .m-list{margin: 0 -25px;}
.zixun_tj .m-list li{float: left; width: 50%; padding: 0 25px; box-sizing: border-box;}

.zixun_xm{width: 100%; height: 220px; background: #fff; overflow: hidden;}
.zixun_xm .cont{padding: 0 10px; }
.zixun_xm .cont .m-list{margin: 2px 0 0;}
.zixun_xm .cont .m-list li a{width: 380px;}


.phb-item{float:left; width: 300px; height: 620px; margin: 0 0 0 14px; background: #fff; overflow: hidden;}
.phb-item .cont{padding: 0 10px; }
.phb-item ul{overflow: hidden;}
.phb-item li{ float: left; width: 100%;line-height: 38px;}
.phb-item li .item{width:100%; overflow: hidden; display: block;}
.phb-item li .item .tit{float: left; width: 198px;}
.phb-item li .num{float:left; width: 16px; height: 16px; margin: 12px 5px 0 0; display: block; border-radius: 50%; background: #ededed; font-size: 12px; color: #8c8c8c; line-height: 16px; text-align: center;}
.phb-item li .num1,
.phb-item li .num2,
.phb-item li .num3{background: url(../images/icon.png) no-repeat -64px -64px; text-indent: -1000em;}
.phb-item li .num2{background-position: -80px -64px;}
.phb-item li .num3{background-position: -96px -64px;}
.phb-item li .name{float:left; width: 115px;  color: #282828; white-space: nowrap; text-overflow: ellipsis; overflow: hidden;}
.phb-item li .price{float:left; width: 62px; color: #ff7888; font-weight: bold; text-align: center; font-size: 12px;}
.phb-item li .redu{float:left; width: 52px; color: #a1a1a1; text-align: center;}
.phb-item li .hangye{float: left; width: 52px; height: 16px; margin: 9px 10px 0 3px; font-size: 12px; line-height: 16px; overflow: hidden; text-align: center; color: #b8b8b8; border: 1px solid #d2d2d2; border-radius: 2px;}
.phb-item li .icon-up{float: left; width: 8px; height: 12px; margin: 12px 0 0; background-position: -204px -117px; display: block;}
.phb-item .m-1{ display: none; float: left; overflow: hidden; margin: 0; overflow: hidden; -webkit-transition: 0.5s ease all; transition: 0.5s ease all;}
.phb-item .m-1 .brand{float:left;width:118px; height: 76px; border: 2px solid #eee; box-sizing: border-box; overflow:hidden; text-align: center;}
.phb-item .m-1 .brand img{max-width: 114px; max-height: 72px;}
.phb-item .m-1-a{float:left;width:148px;height:76px;margin: 0 0 0 12px; display: inline; overflow: hidden;}
.phb-item .m-1-a dt a{line-height: 22px; overflow: hidden; width: 100%; display: block;}
.phb-item .m-1-a dd{font-size: 12px; margin-top: 5px; line-height: 24px; color: #a7a7a7;overflow: hidden;} 
.phb-item .m-1-a dd span{float: left; width: 100%; }
.phb-item .m-1-a dd em{font-weight: bold; color: #ff7888;}
.phb-item .m-1-a dd i{color:#353535;}
.phb-item .item:hover .name{color: #ec2b42;}
.phb-item .hangye:hover{color: #ec2b42;}
.phb-item .info{float:left; padding: 8px 6px; height:70px; margin: 10px auto 20px; width: 100%; line-height: 18px; background: #f4f4f4; color: #848484; font-size: 12px; border-radius: 4px; box-sizing: border-box;}
.phb-item .info p{height:54px; overflow:hidden;}
.phb-item .cont .link-hover .m-1{display: block;}
/*news_section2 end*/

/*news_section3 start*/
.news_section3{overflow: hidden;}
.news_section3 .common-tit{ margin: 12px 0 6px;}
.news_section3 .common-tit .icon-quyu {background-position: -253px -225px;}
.news_section3 .left{float: left; width: 886px;}

.hot-week{float:left; width: 392px; height: 310px; background: #fff; overflow: hidden;}
.hot-week .cont{padding: 0 10px;}
.hot-week .topul{margin: 0 -5px;}
.hot-week .top{ float: left; margin-top:10px; overflow: hidden;}
.hot-week .top ul{margin: 0 -5px;}
.hot-week .top li { float: left; width: 50%; }
.hot-week .top li .item{margin: 0 5px; display: block; background: #fff; -webkit-transition: 0.5s ease all; transition: 0.5s ease all;}
.hot-week .top li .picfocus{width: 100%; height: 91px; text-align: center; overflow: hidden;}
.hot-week .top li img{max-width: 100%; height: 100%;}
.hot-week .top li .tit{padding: 5px; line-height: 24px; color: #272727;}
.hot-week .top li .tit a{width: 125px;}
.hot-week .top li .tit em{float: right; color: #ec2b42; font-size: 12px;}
.hot-week .top li .tit:hover{ color: #ec2b42;}
.hot-week .bot { float: left; margin: 13px 0 0; overflow: hidden;}
.hot-week .bot .tit{float:left; width: 16px; height: 78px; padding: 1px 7px; margin-top: 5px; font-size: 14px; font-weight: bold; color: #222; background: #f4f4f4;}
.hot-week .bot ul{float: left; width: 326px; margin: 0 0 0 16px;}
.hot-week .bot li{float: left; width: 33.3%; line-height: 30px;}
.hot-week .bot a{display: block; font-size: 12px;}

.zixun_hot{float:left; width: 480px; height: 310px; margin: 0 0 0 14px; background: #fff; overflow: hidden;}
.zixun_hot .cont{padding: 0 10px;}
.zixun_hot li{float: left; width:100%; text-align: right; line-height: 30px; white-space: nowrap; text-overflow: ellipsis; overflow: hidden;}
.zixun_hot li a{float:none; width: auto; background: none; padding: 0;}
.zixun_hot li .a1{color:#ff7888;margin-right: 5px; float: left;}
.zixun_hot li .a2{color:#858585; float: left; max-width: 260px;}
.zixun_hot li .a1:hover,
.zixun_hot li .a2:hover{color: #ec2b42;}

.choose-brand{float:left; width: 100%; height: 276px; margin: 14px 0 0 0; background: #fff; overflow: hidden;}
.choose-brand .cont{overflow: hidden;}
.choose-brand ul{margin: 8px 12px 0; border-left: 1px solid #e9e9e9; border-top: 1px solid #e9e9e9; overflow: hidden;}
.choose-brand li{float: left; width: 123px; height: 91px; border-right: 1px solid #e9e9e9; border-bottom: 1px solid #e9e9e9; box-sizing: border-box; overflow: hidden; text-align: center;}
.choose-brand li img{ width: auto; max-width: 123px; max-height: 91px;}
.choose-brand li .item{position: relative; width: 100%; height: 100%; display: block; overflow: hidden;}
.choose-brand li .picfocus{width: 100%; height: 100%; display: table;}
.choose-brand li .hover{position: absolute; top: 100%; left: 0; width: 100%; height: 100%; background: rgba(0,0,0,0.75); text-align: center; color: #fff;    
-webkit-transition: 0.5s ease all;
    transition: 0.5s ease all;}
.choose-brand li .hover a{color: #fff;}
.choose-brand li .tit{line-height: 18px; margin: 14px 0 0 0;}
.choose-brand li .price{  width:100%; line-height: 14px; font-size: 12px;}
.choose-brand li .btn{ width: 50px; height: 20px; line-height: 20px; margin: 10px auto 0; font-size: 12px; background: #ec2b42;color: #fff; border-radius: 20px;}
.choose-brand li .item:hover .hover{top: 0; color: #fff; }

.brand-fenlei{float:left; width: 300px; height: 600px; margin: 0 0 0 14px; background: #fff; overflow: hidden;}
.brand-fenlei .hot,
.brand-fenlei .invest,
.brand-fenlei .source{padding: 0 10px; overflow: hidden;}
.brand-fenlei .tit {line-height: 22px;}
.brand-fenlei .tit .icon{float: left; width: 18px; height: 18px; font-size: 14px; line-height: 22px; margin: 0 4px 0 0; color: #222; display: inline-block;}
.brand-fenlei .tit .icon-hot{background-position: -113px -132px;}
.brand-fenlei .tit .icon-invest{background-position: -135px -132px;}
.brand-fenlei .tit .icon-source{background-position: -157px -132px;}

.brand-fenlei .hot li{float: left; width: 25%; line-height: 30px; text-align: center;}
.brand-fenlei .hot li a{ color: #818181; font-size: 12px;}
.brand-fenlei .hot li a:hover{color:#ec2a42}
.brand-fenlei .hot .ul_hot1{ margin: 7px 0 0 0; overflow: hidden;}
.brand-fenlei .hot .ul_hot1 li{margin: 7px 0 0  0; overflow: hidden;}
.brand-fenlei .hot li p{line-height: 28px;}
.brand-fenlei .hot li .icon{width: 40px; height: 40px; display: block; margin: 0 auto;}
.brand-fenlei .hot li .icon-canyin{background-position: 0 -574px;}
.brand-fenlei .hot li .icon-jiushui{background-position: -45px -574px;}
.brand-fenlei .hot li .icon-muying{background-position: -90px -574px;}
.brand-fenlei .hot li .icon-jiaoyu{background-position: -135px -574px;}
.brand-fenlei .hot li .icon-zhubao{background-position: -180px -574px;}
.brand-fenlei .hot li .icon-jiaju{background-position: -225px -574px;}
.brand-fenlei .hot li .icon-fuzhuang{background-position: -270px -574px;}
.brand-fenlei .hot li .icon-ganxi{background-position: -315px -574px;}

.brand-fenlei .invest{margin: 16px 0 0 0;}
.brand-fenlei .invest ul{margin: 3px 0 0 22px; overflow: hidden;}
.brand-fenlei .invest li{float: left; width: 33.3%; line-height: 24px;}
.brand-fenlei .invest li a{color: #898989; font-size: 12px; display: block;}
.brand-fenlei .invest li a:hover{color:#ec2a42}

.brand-fenlei .source{margin: 18px 0 0 0;}
.brand-fenlei .source ul{margin: 3px 0 0 22px; overflow: hidden;}
.brand-fenlei .source li{float: left; width: 25%; line-height: 24px;}
.brand-fenlei .source li a{color: #898989; font-size: 12px; display: block;}
.brand-fenlei .source li a:hover{color:#ec2a42}


/*news_section4 start*/
.news_section4{overflow: hidden;}
.news_section4 .common-tit{margin: 16px 0 3px;}
.hyzx-box{margin: 0 0 0 -15px;}
.zixun-item{float: left; width: 390px; height: 310px; margin: 0 0 14px 15px; overflow: hidden; background: #fff;}
.zixun-item .cont{float: left; padding: 8px 10px 0 10px; width: 100%; box-sizing: border-box; overflow: hidden;}
.zixun-item .m-1{display: block; overflow: hidden;}
.zixun-item .m-1 .picfocus{float:left; width: 150px; height: 100px;}
.zixun-item .m-1-a{float:left; width:206px; height:100px; line-height: 18px; margin: 0 0 0 14px; display: inline; overflow: hidden;}
.zixun-item .m-1-a dt {height: 36px; overflow: hidden;}
.zixun-item .m-1-a dt a{ color: #2b2b2b;}
.zixun-item .m-1-a dt a:hover{color: #ec2b42;}
.zixun-item .m-1-a dd{margin:12px 0 0; font-size: 12px; color: #8c8c8c; max-height: 54px; overflow: hidden;} 
.zixun-item .m-list li a{width: 300px;}

/*news_list  page*/

/*left start*/
.news_box{overflow: hidden;}
.news-left{float: left; width: 886px;}
.news_lists{ background: #fff;}
.news_lists .common-tit-3{border-bottom: 1px solid #f4f4f4;}
.news_lists li{width: 100%; border-bottom: 1px solid #f4f4f4; overflow: hidden;} 
.news_lists li .item{padding: 20px; overflow: hidden;}
.news_lists .picfocus{float: left; width: 200px; height: 134px; overflow: hidden;}
.news_lists .info{float: left; width: 626px; margin: 0 0 0 20px;}
.news_lists .info .tit{font-size: 18px; color: #2c2c2c; line-height: 20px; white-space: nowrap; text-overflow: ellipsis; overflow: hidden;}
.news_lists .info .desc{font-size: 14px; color: #808080; line-height: 20px; height: 60px; margin: 20px 0 0; overflow: hidden;}
.news_lists .info .mesg{height: 20px; line-height: 20px; color: #aaa9a9; margin-top: 13px; text-align: right;}
.news_lists .info span{vertical-align: top;}
.news_lists .info .time{float: left;background: url(../images/icon_time.jpg) no-repeat center left; padding: 0 0 0 18px;}
.news_lists .info .line{margin: 0 10px;}

/*page*/
.page{ float: left; width: 100%; height: 80px; box-sizing: border-box;background: #fff; font-size:14px;overflow:hidden; zoom:1; padding:25px 30px;text-align:center;clear:both;}
.page ul{display: inline-block;}
.page li{float: left;width:auto; height: 28px;line-height: 28px;margin: 0 2px; color: #545454; vertical-align: top; display:inline-block;border: 1px solid #dfdfdf;font-size: 14px;background: #f4f4f4; border-radius: 3px;}
.page li.active {border-color: #ec2b42; background: #ec2b42; color: #fff;}
.page li a{display: block;height: 28px;line-height: 28px; padding: 0 10px; font-size: 14px;color: #333;text-decoration: none;}
.page span{padding: 0 10px; line-height: 28px; display: block;}
.page li:hover{background: #e60012;border: 1px solid #e60012;color: #fff;}
.page li:hover a,
.page li a:hover{color: #fff;}
.page .thisclass {background: #e60012;border: 1px solid #e60012;color: #fff;}
.page .thisclass a{color: #fff;}
.page li select{border: 0;line-height: 35px;}
.page li select:hover{border: 0;}
.page .page-all{border: none; background: none; height: 30px; line-height: 30px; color: #545454;}
.page .page-all strong{color: #ff7888; font-weight: normal;}
.page .page-all:hover{border: none; background: none; color: #545454;}

/*like-other 猜你喜欢*/
.like-other { float: left; margin: 22px 0 0; width: 100%; overflow: hidden;}
.like-other .tit{ color: #353535; font-weight: bold; font-size: 18px; margin-bottom: 10px; line-height: 1;}
.like-other .cont{margin: 0 -5px; overflow: hidden;}
.like-other .cont li{float: left; width: 25%;}
.like-other .cont .item{margin: 0 5px; display: block; background: #fff;
-webkit-transition: 0.5s ease all; transition: 0.5s ease all;}
.like-other .cont .info-box{padding: 8px 12px;}
.like-other .cont .picfocus{width: 214px; height: 138px;}
.like-other .cont .picfocus img{width: 100%; height: 100%;}
.like-other .cont .tit{font-size: 16px; line-height: 24px; margin-bottom: 0;}
.like-other .cont .info{line-height: 24px; overflow: hidden;}
.like-other .cont span{float: right; color: #848484;}
.like-other .cont .money{float: left; color: #ec2b42;}
.like-other .cont .money em{font-weight: bold;}
.like-other .cont .desc{color: #b3b3b3; line-height: 24px; margin: 5px 0;}

/*all-look 大家都在看*/
.all-look { float: left; margin: 22px 0 60px; width: 100%; overflow: hidden;}
.all-look .tit{ color: #353535; font-weight: bold; font-size: 18px; margin-bottom: 10px; line-height: 1;}
.all-look .cont{overflow: hidden; background: #fff;}
.all-look .m-list{float: left; width: 422px; padding: 0 16px; box-sizing: border-box;}
.all-look .m-list a{width: 300px;}
.all-look .line{float:left; width: 1px; height: 220px; background: #d9d9d9; margin: 25px 20px;}
/*left end*/


/*right start*/
.news-right{float: left; width: 300px; margin: 0 0 0 14px;}
.news-right .zixun-item{ width: 300px; height: 320px; margin: 0 0 14px 0; overflow: hidden;}
.news-right .zixun-item .m-1 .picfocus{width: 120px; height: 80px;}
.news-right .zixun-item .m-1-a{width: 150px; margin: 0 0 0 10px; height: 80px;}
.news-right .zixun-item .m-1-a dd{height: 36px; margin: 10px 0 0;}
.news-right .zixun-item .m-list{margin: 12px 0 16px;}
.news-right .zixun-item .m-list li a{width: 280px;}

.news-right .phb-item{width: 300px; margin: 0 0 14px 0;}

.news-right .related-item{width: 300px; background: #fff; overflow: hidden; margin: 0 0 14px 0;}
.news-right .related-item .cont{padding: 9px 10px; box-sizing: border-box; overflow: hidden;}
.news-right .related-item ul{margin: 0 -5px; overflow: hidden;}
.news-right .related-item li{float: left; width: 50%; padding: 0 5px; margin: 0 0 7px; box-sizing: border-box;}
.news-right .related-item .item{display: block; text-align: center; line-height: 32px;}
.news-right .related-item .tit{ white-space: nowrap; text-overflow: ellipsis; overflow: hidden;}
.brand-fenlei .hot li .icon-shipin{background-position: -270px -574px;}
.brand-fenlei .hot li .icon-jiancai{background-position: -315px -574px;}

/* add */
.common-tit-3 h1{float: left;font-size: 18px;font-weight: bold;color: #222;}
.news_lists .info .tit h2{font-size:18px;}