body{
	background:#f6f9fc;
}
.listDl{
	margin-bottom:70px;
}
.listDl dt{
	height:48px;
	line-height:48px;
	font-size:15px;
	text-indent:23px;
	border-bottom:1px solid #e5edf3;
}
.listDl dt a{
	color:#1867a0;
	display:block;
}
.listDl dd a{
	display:block;
	height:38px;
	line-height:38px;
	color:#666666;
	font-size:14px;
	text-indent:40px;
}
.listDl dd a:hover{
	color:#333333;
	font-weight:bold;
	background:#d6e6f2;
}
.listDl dd a.active{
	color:#333333;
	font-weight:bold;
	background:#d6e6f2;
}
.help_doc{
	display:block;
	width:168px;
	height:32px;
	border-radius: 4px;
	margin:8px auto 0;
	line-height:35px;
	font-size:12px;
	color:#6f9ebd;
	font-weight:bold;
	text-indent:64px;
}
.help_document{
	background:#ebf2f8 url('../img/help.png') no-repeat 40px;
}
.help_document:hover{
	background:#4999d2 url('../img/help2.png') no-repeat 40px;
	color:#fff;
}
.optionFk{
	background:#ebf2f8 url('../img/option.png') no-repeat 40px;
}
.optionFk:hover{
	background:#4999d2 url('../img/option2.png') no-repeat 40px;
	color:#fff;
}
/* 右侧部分 */
.content_right{
	width:976px;
	margin-top:24px;
	background:#fff;
	min-height: 820px;
}
.zp_joinIn{
	width:846px; 
	margin:auto;
	padding-bottom:195px;
}
.zp_titleLink{
	margin-top:30px;
	height:48px; 
	line-height:48px; 
	border-bottom:1px solid #cfdce8; 
	margin-bottom:40px;
}
.zp_titleLink a{
	font-size:16px; 
	color:#666666;
	margin-right:40px;
	display:inline-block;
}
.zp_titleLink a.active{
	font-weight:bold;
	color:#13639c;
	border-bottom:2px solid #13639c; 
	height:47px;
}
.zhangHu_tab{
	margin-bottom:35px;
}
.zhangHu_tab p{
	height:56px;
	line-height:56px;
	font-size:16px;
	font-weight:bold;
	color:#666666;
	margin-bottom:8px;
}
.zhangHu_tab p span{
	display:block;
	width:145px;
	background:#d6e6f2;
	text-align:center;
}
.zhangHu_tab p font{
	display:block;
	width:695px;
	background:#f3f8fc;
	text-indent:30px;
}
.zp_pleaseInput .p1{
	min-height:40px;
	margin-bottom:24px;
}
.zp_pleaseInput .p1 em{
	display:inline-block;
	width:110px;
	line-height:40px;
	font-size:14px;
	color:#333333;
	margin-left:37px;
}
.ipt2{
	width:263px;
}
.zp_pleaseInput .p1 input{
	border:1px solid #b2b7c4;
	border-radius: 4px;
	font-size:12px;
	height:38px;
	line-height:38px;
	padding-left:15px;
}
.zp_pleaseInput{
	position:relative;
	margin-bottom:22px;
}
.ipt_error{
	color:#bababa;
	font-size:12px;
	margin-left:150px;
	border:1px solid #e4e7ed;
	padding: 9px 7px;
    width: auto;
    display: none;
    z-index: 2;
    position: absolute;
	border-radius:4px;
	top:36px;
	left:6px;
	background:#fff url('../img/dengp.png') no-repeat 7px;
	padding-left:25px;
}
.ipt_error img{
	position:absolute;
	top:-7px;
	left:15px;
}
.ipt_errorRed{
	background:#fff url('../img/dengp2.png') no-repeat 7px;
	color:#ec4c16;
}
.checkMark{
	display:inline-block;
	width:20px;
	height:20px;
	position:relative;
	top:6px;
	left:10px;
}
.checkMark_dui{
	background:url('../img/yes.png') no-repeat;
}
.checkMark_cuo{
	background:url('../img/error1.png') no-repeat;
}
.buttonBox{
	height:40px;
	margin-top:32px;
}
.commonBtn{
	width:168px;
	height:40px;
	line-height:40px;
	color:#fff; 
	font-size:15px;
	border-radius: 4px;
	margin-left:150px;
}
.addBtn{
	background:#4999d2;
}
.addBtn:hover{
	opacity: 0.8;
	cursor: pointer;
}
.common_right .title {
	color: #404040;
	font-size: 16px;
	font-weight: bold;
	display: flex;
	flex-direction: row;
	margin-bottom: 66px;
	position: relative;
	top: 38px;
}