@charset "utf-8";
body{
	background:#edf3f8;
}
.content{ width:1200px; margin:auto; }
.content_left{ width:200px; }
.content_right{ width:974px; margin-top:25px; background:#fff; border:1px solid #edf3f8; }
.zp_joinIn{
	width:846px; 
	margin:auto;
}
.zp_createNewCase{
	margin-top:24px;
}
.shenHe_dl{
	padding:40px 0;
	height:176px;
	border-bottom:1px solid #e9e9e9;
}

.shenHe_dl:last-child{
	border-bottom:none;
}
.shenHe_dl .scPic{
	width:160px;
	height:160px;
	border:1px solid #dcdfe6; 
	padding:7px;
	border-radius:4px;
	background:#fff;
	position:relative;
	margin-right:22px;
}
.shenHe_dl .scPic .pic{
	width:160px;
	height:160px;
	overflow:hidden; 
}
.shenHe_dl .scPic img{
	width:100%;
	height:100%;
}
.shenHe_dl .scPic .picDes{
	position:absolute;
	bottom:7px;
	left:7px;
	width:130px;
	height:36px;
	line-height:36px;
	padding:0 15px;
	background:rgba(0,0,0,.7);
	font-size:14px;
	color:#fff;
	overflow:hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	text-align: center
}
.shenHe_dl .dd1{
	color:#999999;
	font-size:14px;
	line-height:24px;
}
.shenHe_dl .dd1 span{
	display:inline-block;
	margin-top:35px;
}
.addPic{
	width:174px;
	height:174px;
	border:1px dashed #dcdfe6;
}
.file {
	position: relative;
	display: inline-block;
	width:26px; 
	height:26px;
	background:url('../img/jia.png') no-repeat center;
	margin:74px 0 0 74px;
}
.file input {
	position: absolute; 
	font-size: 12px;
	right: 0;
	top: 0;
	opacity: 0;
	width:26px;
	height:26px;
}
.delete_zz{
	position:absolute;
	width:25px;
	height:26px;
	background:url('../img/delete_zz.png') no-repeat;
	right:7px;
	top:7px;
	cursor:pointer;
	z-index:10;
	display:none;
}
.shenHe_dl .scPic:hover .delete_zz{
	display:block;
}
.file11 {
	position: absolute;
	display: inline-block;
	width:160px; 
	height:160px;
	background:transparent;
	top:7px;
	left:7px;
}
.file11 input {
	position: absolute; 
	right: 0;
	top: 0;
	opacity: 0;
	width:160px;
	height:160px;
	cursor:pointer;
}

.shenHe_dl dl{
	width:422px;
}
.upLoad_del{
	height:32px;
	margin:32px 0 0 5px;
}
.file_upLoad{
	position: relative;
	display: inline-block;
	width:78px; 
	height:30px;
	line-height:30px;
	text-align:center;
	background:#4999d2;
	border:1px solid #1867a0;
	border-radius:4px;
	font-size:14px;
	color:#fff;
}
.file_upLoad:hover{
	opacity: 0.8;
	cursor: pointer;
}
.file_upLoad input{
	position: absolute; 
	font-size: 12px;
	right: 0;
	top: 0;
	opacity: 0;
	width:78px;
	height:30px;
}
.btn_delete{
	width:80px; 
	height:32px;
	line-height:30px;
	text-align:center;
	background:#4999d2;
	border:1px solid #1867a0;
	border-radius:4px;
	font-size:14px;
	color:#fff;
}
.btn_delete_gray{
	border:1px solid #d2d2d2;
	background:#d2d2d2;
}

.common_right .title {
	color: #404040;
	font-size: 16px;
	font-weight: bold;
	display: flex;
	flex-direction: row;
	margin-bottom: 66px;
	position: relative;
	top: 38px;
}






























